body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(https://raw.githubusercontent.com/CookieGX/Projecto-Finca/main/Prueba3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

h1 {
    display: flex;
    font-size: 3rem;
    color: #ffffffff;
    font-style: italic;
    justify-content: center;
    align-items: center;
    
}

.buffer {
    height: 5rem;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;

}

.btn-primary {
    background-color: coral;
    border-color: coral;


}

.btn-primary:hover {
    background-color: chocolate;
    border-color: chocolate;
    border-width: 4px;

}

.btn-xl {
    padding: 1rem 2rem;

}
